[submodule "fsw/miosix-kernel"]
	path = crater/flight/cpp/miosix-kernel
	url = https://github.com/crater-rockets/miosix-kernel.git
[submodule "fsw/shared/libs/expected-lite"]
	path = fsw/shared/libs/expected-lite
	url = https://github.com/martinmoene/expected-lite.git
[submodule "fsw/shared/libs/fmt"]
	path = fsw/shared/libs/fmt
	url = https://github.com/crater-rockets/fmt.git
[submodule "fsw/shared/libs/lest"]
	path = fsw/shared/libs/lest
	url = https://github.com/martinmoene/lest.git
[submodule "fsw/shared/libs/span-lite"]
	path = fsw/shared/libs/span-lite
	url = https://github.com/martinmoene/span-lite.git
[submodule "fsw/proto/pymavlink"]
	path = fsw/proto/pymavlink
	url = git@github.com:crater-rockets/pymavlink.git
