#include "ErrorCode.hpp"

namespace crt_ext
{

const char* error_code_str(mavlink::crater::ErrorCode error_code)
{
    switch(error_code) {
{%- for entry in enums["ErrorCode"].entries %}
        case mavlink::crater::ErrorCode::{{ entry.name }}:
            return "{{ entry.name }}";
{%- endfor %}
    }
    
    return "Invalid";
}


mavlink::crater::ErrorCode error_code_from_u8(uint8_t error_code)
{
    switch(error_code) {
{%- for entry in enums["ErrorCode"].entries %}
        case static_cast<uint8_t>(mavlink::crater::ErrorCode::{{ entry.name }}):
            return mavlink::crater::ErrorCode::{{ entry.name }};
{%- endfor %}
    }

    return mavlink::crater::ErrorCode::Invalid;
}

}  // namespace crt_ext
