CompileFlags:
  Add: [
    --target=arm-none-eabi,
    -DMIOSIX_SKIP_SETTINGS_EDIT,
    -I/home/alberton/Documents/SkyWar/crater-sw/fsw/drivers/.,
    -I/home/alberton/Documents/SkyWar/crater-sw/fsw/miosix-kernel/miosix,
    -I/home/alberton/Documents/SkyWar/crater-sw/fsw/miosix-kernel/miosix/arch/common,
    -I/home/alberton/Documents/SkyWar/crater-sw/fsw/miosix-kernel/miosix/arch/cortexM4_stm32f4/common,
    -I/home/alberton/Documents/SkyWar/crater-sw/fsw/miosix-kernel/miosix/arch/cpu,
    -I/home/alberton/Documents/SkyWar/crater-sw/fsw/miosix-kernel/miosix/arch/cpu/armv7m,
    -I/home/alberton/Documents/SkyWar/crater-sw/fsw/miosix-kernel/miosix/arch/cortexM4_stm32f4/stm32f429zi_stm32f4discovery,
    -I/home/alberton/Documents/SkyWar/crater-sw/fsw/miosix-kernel/miosix/config/arch/cortexM4_stm32f4/stm32f429zi_stm32f4discovery,
    -I/home/alberton/Documents/SkyWar/crater-sw/fsw/miosix-kernel/miosix/default,
    -D_MIOSIX_BOARDNAME="stm32f429zi_stm32f4discovery",
    -D_DEFAULT_SOURCE=1,
    -std=c++14,
    -ffunction-sections,
    -Wall,
    -Werror=return-type,
    -g,
    -D_BOARD_STM32F429ZI_STM32F4DISCOVERY,
    -D_ARCH_CORTEXM4_STM32F4,
    -DHSE_VALUE=8000000,
    -DSYSCLK_FREQ_168MHz=168000000,
    -D__ENABLE_XRAM,
    -mcpu=cortex-m4,
    -mthumb,
    -mfloat-abi=hard,
    -mfpu=fpv4-sp-d16,
    -c
  ]
